.topnav {
    background-color: #CD5D67;
    width:1920;
    padding: 5px;
}

.topnav a {
    float: inline-start;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: white;
    color: #91171F;
}

.topnav a.active {
    background-color: #91171F;
    color: white;
}

body {
    background-color: #f2f2f2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    height: 200%;
    padding: 5px;
    text-align: center;
    color: #91171F;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-style: dotted;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid;
    color: white;
    background-color: #CD5D67;
}

th {
    background-color: #91171F;
}

#yukyui {
    float: left;
    margin: 5px;
}

footer {
    position: fixed;
    left: 10px;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 5px;
}

button {
    display: block;
    margin: 15px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: inset 2px 2px 5px #91171F;
    background-color: white;
    color: #CD5D66;
}

textarea {
    height: 100px;
    padding: 5px;
}

button:hover {
    background-color: #BA1F33;
    color: black;
    box-shadow: inset 2px 2px 5px white;
}

form {
    color: #91171F;
    margin: 50px;
    text-align: center;
}

input,
textarea {
    width: 100%;
    text-align: center;
}

.bodybody {
    background-color: #CD5D67;
    color: white;
    padding: 8px;
    width: 100%;
}
